<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ares.ztserve.mapper.ClientMapper">
    <resultMap id="getClientInfoRM" type="com.ares.ztserve.model.Client">
        <result property="userName" column="user_name" />
        <result property="customNo" column="custom_no" />
        <result property="role" column="user_role" />
    </resultMap>

    <select id="findClientByName" resultMap="getClientInfoRM">
        select
        b.user_name,
        b.custom_no,
        b.user_role
        from xx_personnel_base b
        <where>
            and b.user_name = #{userName}
            and b.is_active='Y'
        </where>
    </select>



</mapper>