<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ares.ztserve.mapper.ClientSatisfactionMapper">
    <resultMap id="getClientSatisfactionRM" type="com.ares.ztserve.model.ClientSatisfaction">
        <result property="cstId" column="cst_id"/>
        <result property="email" column="email"/>
        <result property="type" column="type"/>
        <result property="satisDegree" column="satis_degree"/>
        <result property="satisDesc" column="satis_desc"/>
        <result property="feedback" column="feedback"/>
    </resultMap>


    <select id="getClientSatisfactionId" resultType="int">
        select xx_cst_s.NEXTVAL as cstId
        from dual
    </select>

    <select id="getClientSatisfactionAll" resultMap="getClientSatisfactionRM">
        select cst_id, email, type, satis_degree, satis_desc, feedback
        from xx_cst
    </select>

    <insert id="insertClientSatisfaction" parameterType="com.ares.ztserve.model.ClientSatisfaction">
        insert into xx_cst
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cstId != null">
                cst_id,
            </if>
            <if test="email != null">
                email,
            </if>

            <if test="type != null">
                type,
            </if>
            <if test="satisDegree != null">
                satis_degree,
            </if>
            <if test="satisDesc != null">
                satis_desc,
            </if>
            <if test="feedback != null">
                feedback,
            </if>
            create_date,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cstId != null">
                #{cstId},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="satisDegree != null">
                #{satisDegree},
            </if>
            <if test="satisDesc != null">
                #{satisDesc},
            </if>
            <if test="feedback != null">
                #{feedback},
            </if>
            sysdate,
        </trim>

    </insert>


</mapper>