<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ares.ztserve.mapper.ServeRecordsMapper">
    <!--
    private String clientId;
    private String isDescribe;
    private String isSolve;
    private String firstResponse;
    -->
    <resultMap id="getClientRecordsRM" type="com.ares.ztserve.model.ServiceRecords">
        <result property="clientId" column="client_id"/>
        <result property="isSolve" column="is_solve"/>
        <result property="isDescribe" column="is_describe"/>
        <result property="firstResponse" column="first_response_month"/>
    </resultMap>

    <select id="getServiceRecordsAll" resultMap="getClientRecordsRM">
        select is_describe,
               is_solve,
               first_response_month,
               client_id
        from xx_kfkz_v2
    </select>

    <!--<select id="getServiceRecordsAll" resultMap="getClientRecordsRM">
        select is_describe as isDescribe,
               is_solve as isSolve,
               first_response_month as fiestResponse,
               cliend_id as cliendId
        from xx_kfkz_v2
    </select>-->

    <select id="getServiceRecordsById" resultMap="getClientRecordsRM">
        select is_describe,
        is_solve,
        first_response_month,
        client_id
        from xx_kfkz_v2
        <where>
            client_id = #{clientId}
        </where>
    </select>
    <!--<select id="getServiceRecordsById" resultType="com.ares.ztserve.model.ServiceRecords">
        select is_describe as isDescribe,
               is_solve as isSolve,
               first_response as fiestResponse,
               cliend_id as cliendId
        from xx_kfkz_v2
        <where>
            cliend_id = #{cliendId}
        </where>
    </select>-->

    <select id="getServeRecords" resultMap="getClientRecordsRM">
        select is_describe,
        is_solve,
        first_response_month,
        client_id
        from xx_kfkz_v2
        /*private String customerNo;
        private String emailAddress;
        private String userRole;*/
        <where>
            <if test="userRole==1">
                and custom_no = #{customerNo}
                and email = #{emailAddress}
            </if>
            <if test="userRole==2">
                and custom_no = #{customerNo}
            </if>
            <if test="userRole==99">
                and 1=1
            </if>
            <if test="firstResponse!=null">
                and first_response_month = #{firstResponse}
            </if>
        </where>
    </select>


</mapper>